# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.log

# OS Files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Build files
dist/
build/
.cache
coverage/

# Dependency directories
jspm_packages/
bower_components/

# Docker
docker-compose.override.yml

# Misc
*.bak
*.orig
*.tmp
*.test.js.map
*.tsbuildinfo
