form {
    margin: 0 auto;
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], input[type="password"], select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Card container */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product-card {
    text-align: center;
    width: 200px;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Image styling */
.product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Product name styling */
.product-name {
    font-size: 1.1em;
    font-weight: bold;
    margin: 5px 0;
}

/* Product price styling */
.product-price {
    font-size: 1em;
    color: #888;
    margin: 5px 0;
}

/* Product description styling */
.product-description {
    font-size: 0.9em;
    color: #666;
    margin-top: 10px;
}

/* Hover effect */
.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.view-product {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}
.view-product a {
    color: #fff;
    text-decoration: none;
}