
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body style="margin: 0; min-height: 100vh; display: flex; flex-direction: column;">
    <!-- <header style="background-color: #333; color: white; padding: 10px; text-align: center;">
        <h1>My Store</h1>
    </header> -->
    <nav style="background-color: #333; color: white; padding: 10px;">
        <a href="/" style="color: white; text-decoration: none; margin-right: 10px;">Home</a>
        <a href="/product/add" style="color: white; text-decoration: none; margin-right: 10px;">Add Product</a>
        <a href="/" style="color: white; text-decoration: none; margin-right: 10px;">View Products</a>
        <a href="/product/cart" style="color: white; text-decoration: none; margin-right: 10px;">Admin</a>
        <a href="/viewcart" style="color: white; text-decoration: none; margin-right: 10px;">Cart</a>
    </nav>